.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.094238;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.094238;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.080078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.080078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.222800px;}
.ls3{letter-spacing:-0.192000px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.015360px;}
.ls2{letter-spacing:0.096000px;}
.ls1{letter-spacing:15.840000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-1.152640px;}
._7{width:1.948800px;}
._5{width:8.704800px;}
._4{width:10.164960px;}
._1{width:14.607840px;}
._0{width:16.074720px;}
._3{width:17.141280px;}
._2{width:18.156480px;}
._9{width:36.576000px;}
._8{width:39.505920px;}
.fc2{color:rgb(99,106,107);}
.fc1{color:rgb(255,191,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:1.920000px;}
.fs3{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:56.160000px;}
.fs0{font-size:87.840000px;}
.y1{bottom:0.000000px;}
.y37{bottom:4.080000px;}
.y3c{bottom:5.160000px;}
.y3a{bottom:6.600000px;}
.y9{bottom:7.800000px;}
.y48{bottom:17.160000px;}
.y33{bottom:18.480000px;}
.y39{bottom:20.520000px;}
.y47{bottom:23.516000px;}
.y8{bottom:24.360000px;}
.y32{bottom:34.320000px;}
.y46{bottom:37.436000px;}
.y49{bottom:38.040000px;}
.y7{bottom:40.080000px;}
.y0{bottom:48.500000px;}
.y25{bottom:48.504000px;}
.y31{bottom:50.160000px;}
.y45{bottom:51.356000px;}
.y24{bottom:61.676000px;}
.ya{bottom:64.344000px;}
.y44{bottom:65.276000px;}
.y30{bottom:66.000000px;}
.y23{bottom:74.516000px;}
.y6{bottom:75.000000px;}
.y3e{bottom:81.504000px;}
.y2f{bottom:81.840000px;}
.y43{bottom:91.196000px;}
.y22{bottom:94.436000px;}
.y2e{bottom:97.680000px;}
.y5{bottom:102.960000px;}
.y42{bottom:105.116000px;}
.y21{bottom:109.316000px;}
.y2d{bottom:113.550000px;}
.y41{bottom:120.956000px;}
.y2c{bottom:129.390000px;}
.y20{bottom:134.756000px;}
.y40{bottom:134.876000px;}
.y2b{bottom:145.230000px;}
.y1f{bottom:149.636000px;}
.y3f{bottom:152.786000px;}
.y2a{bottom:161.070000px;}
.y1e{bottom:164.666000px;}
.y35{bottom:173.540000px;}
.y29{bottom:176.910000px;}
.y1d{bottom:177.506000px;}
.y28{bottom:192.750000px;}
.y1c{bottom:198.866000px;}
.y27{bottom:211.230000px;}
.y1b{bottom:213.026000px;}
.y1a{bottom:230.906000px;}
.y19{bottom:244.466000px;}
.y18{bottom:257.426000px;}
.y17{bottom:273.506000px;}
.y34{bottom:281.450000px;}
.y16{bottom:290.546000px;}
.y3d{bottom:295.850000px;}
.y15{bottom:307.586000px;}
.y3b{bottom:312.770000px;}
.y14{bottom:321.506000px;}
.y13{bottom:336.406000px;}
.y12{bottom:351.286000px;}
.y38{bottom:358.130000px;}
.y11{bottom:366.526000px;}
.y10{bottom:382.606000px;}
.y36{bottom:388.970000px;}
.yf{bottom:398.686000px;}
.ye{bottom:414.646000px;}
.yd{bottom:430.726000px;}
.yc{bottom:446.806000px;}
.yb{bottom:465.646000px;}
.y26{bottom:469.390000px;}
.y4{bottom:577.180000px;}
.y3{bottom:736.540000px;}
.y2{bottom:752.880000px;}
.hd{height:1.663125px;}
.h14{height:16.920000px;}
.h11{height:29.904000px;}
.h12{height:30.840000px;}
.h13{height:30.960000px;}
.h7{height:32.516250px;}
.ha{height:38.251875px;}
.h9{height:38.661562px;}
.h6{height:41.578125px;}
.h3{height:42.023438px;}
.hb{height:45.906562px;}
.h5{height:49.167422px;}
.hf{height:49.898438px;}
.h2{height:76.902891px;}
.h4{height:116.160000px;}
.h10{height:173.540000px;}
.h15{height:183.980000px;}
.he{height:222.380000px;}
.h8{height:496.850000px;}
.hc{height:644.830000px;}
.h1{height:754.000000px;}
.h0{height:841.920000px;}
.w8{width:76.200000px;}
.w7{width:76.224000px;}
.w6{width:186.980000px;}
.w9{width:189.860000px;}
.w4{width:309.790000px;}
.w3{width:310.510000px;}
.w5{width:326.110000px;}
.w1{width:515.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x10{left:4.440000px;}
.x12{left:9.600000px;}
.x11{left:12.120000px;}
.x14{left:15.240000px;}
.x6{left:18.000000px;}
.x15{left:19.440000px;}
.x19{left:25.440000px;}
.x13{left:31.560000px;}
.x0{left:40.000000px;}
.x4{left:41.160000px;}
.x18{left:47.280000px;}
.xe{left:51.000000px;}
.x1a{left:58.440000px;}
.x16{left:61.080000px;}
.x17{left:63.120000px;}
.x1b{left:65.520000px;}
.xc{left:93.510000px;}
.x1d{left:94.950000px;}
.x7{left:102.620000px;}
.x9{left:103.820000px;}
.x2{left:109.939991px;}
.x5{left:112.940000px;}
.x3{left:145.819991px;}
.x8{left:155.210000px;}
.xa{left:163.010000px;}
.x1c{left:365.830000px;}
.xb{left:367.270000px;}
.xd{left:384.550000px;}
.xf{left:460.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.297067pt;}
.ls3{letter-spacing:-0.256000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.020480pt;}
.ls2{letter-spacing:0.128000pt;}
.ls1{letter-spacing:21.120000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-1.536853pt;}
._7{width:2.598400pt;}
._5{width:11.606400pt;}
._4{width:13.553280pt;}
._1{width:19.477120pt;}
._0{width:21.432960pt;}
._3{width:22.855040pt;}
._2{width:24.208640pt;}
._9{width:48.768000pt;}
._8{width:52.674560pt;}
.fs4{font-size:2.560000pt;}
.fs3{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:74.880000pt;}
.fs0{font-size:117.120000pt;}
.y1{bottom:0.000000pt;}
.y37{bottom:5.440000pt;}
.y3c{bottom:6.880000pt;}
.y3a{bottom:8.800000pt;}
.y9{bottom:10.400000pt;}
.y48{bottom:22.880000pt;}
.y33{bottom:24.640000pt;}
.y39{bottom:27.360000pt;}
.y47{bottom:31.354667pt;}
.y8{bottom:32.480000pt;}
.y32{bottom:45.760000pt;}
.y46{bottom:49.914667pt;}
.y49{bottom:50.720000pt;}
.y7{bottom:53.440000pt;}
.y0{bottom:64.666667pt;}
.y25{bottom:64.672000pt;}
.y31{bottom:66.880000pt;}
.y45{bottom:68.474667pt;}
.y24{bottom:82.234667pt;}
.ya{bottom:85.792000pt;}
.y44{bottom:87.034667pt;}
.y30{bottom:88.000000pt;}
.y23{bottom:99.354667pt;}
.y6{bottom:100.000000pt;}
.y3e{bottom:108.672000pt;}
.y2f{bottom:109.120000pt;}
.y43{bottom:121.594667pt;}
.y22{bottom:125.914667pt;}
.y2e{bottom:130.240000pt;}
.y5{bottom:137.280000pt;}
.y42{bottom:140.154667pt;}
.y21{bottom:145.754667pt;}
.y2d{bottom:151.400000pt;}
.y41{bottom:161.274667pt;}
.y2c{bottom:172.520000pt;}
.y20{bottom:179.674667pt;}
.y40{bottom:179.834667pt;}
.y2b{bottom:193.640000pt;}
.y1f{bottom:199.514667pt;}
.y3f{bottom:203.714667pt;}
.y2a{bottom:214.760000pt;}
.y1e{bottom:219.554667pt;}
.y35{bottom:231.386667pt;}
.y29{bottom:235.880000pt;}
.y1d{bottom:236.674667pt;}
.y28{bottom:257.000000pt;}
.y1c{bottom:265.154667pt;}
.y27{bottom:281.640000pt;}
.y1b{bottom:284.034667pt;}
.y1a{bottom:307.874667pt;}
.y19{bottom:325.954667pt;}
.y18{bottom:343.234667pt;}
.y17{bottom:364.674667pt;}
.y34{bottom:375.266667pt;}
.y16{bottom:387.394667pt;}
.y3d{bottom:394.466667pt;}
.y15{bottom:410.114667pt;}
.y3b{bottom:417.026667pt;}
.y14{bottom:428.674667pt;}
.y13{bottom:448.541333pt;}
.y12{bottom:468.381333pt;}
.y38{bottom:477.506667pt;}
.y11{bottom:488.701333pt;}
.y10{bottom:510.141333pt;}
.y36{bottom:518.626667pt;}
.yf{bottom:531.581333pt;}
.ye{bottom:552.861333pt;}
.yd{bottom:574.301333pt;}
.yc{bottom:595.741333pt;}
.yb{bottom:620.861333pt;}
.y26{bottom:625.853333pt;}
.y4{bottom:769.573333pt;}
.y3{bottom:982.053333pt;}
.y2{bottom:1003.840000pt;}
.hd{height:2.217500pt;}
.h14{height:22.560000pt;}
.h11{height:39.872000pt;}
.h12{height:41.120000pt;}
.h13{height:41.280000pt;}
.h7{height:43.355000pt;}
.ha{height:51.002500pt;}
.h9{height:51.548750pt;}
.h6{height:55.437500pt;}
.h3{height:56.031250pt;}
.hb{height:61.208750pt;}
.h5{height:65.556562pt;}
.hf{height:66.531250pt;}
.h2{height:102.537187pt;}
.h4{height:154.880000pt;}
.h10{height:231.386667pt;}
.h15{height:245.306667pt;}
.he{height:296.506667pt;}
.h8{height:662.466667pt;}
.hc{height:859.773333pt;}
.h1{height:1005.333333pt;}
.h0{height:1122.560000pt;}
.w8{width:101.600000pt;}
.w7{width:101.632000pt;}
.w6{width:249.306667pt;}
.w9{width:253.146667pt;}
.w4{width:413.053333pt;}
.w3{width:414.013333pt;}
.w5{width:434.813333pt;}
.w1{width:687.333333pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x10{left:5.920000pt;}
.x12{left:12.800000pt;}
.x11{left:16.160000pt;}
.x14{left:20.320000pt;}
.x6{left:24.000000pt;}
.x15{left:25.920000pt;}
.x19{left:33.920000pt;}
.x13{left:42.080000pt;}
.x0{left:53.333333pt;}
.x4{left:54.880000pt;}
.x18{left:63.040000pt;}
.xe{left:68.000000pt;}
.x1a{left:77.920000pt;}
.x16{left:81.440000pt;}
.x17{left:84.160000pt;}
.x1b{left:87.360000pt;}
.xc{left:124.680000pt;}
.x1d{left:126.600000pt;}
.x7{left:136.826667pt;}
.x9{left:138.426667pt;}
.x2{left:146.586655pt;}
.x5{left:150.586667pt;}
.x3{left:194.426655pt;}
.x8{left:206.946667pt;}
.xa{left:217.346667pt;}
.x1c{left:487.773333pt;}
.xb{left:489.693333pt;}
.xd{left:512.733333pt;}
.xf{left:614.373333pt;}
}
